{% load i18n staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.path }}"/>
    <meta property="og:type" content="website"/>
    {% block head %}{% endblock %}
    <title>Благотворительная акция Письма Деду Морозу</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body class="uk-padding-remove-bottom">
<a href="/" class="go_to_home uk-position-absolute" style="top: 0;bottom: 0;right: 0;left: 0;"></a>

{% block content %}

{% endblock %}
<footer class="uk-card-secondary ">
    <div class="uk-container uk-card uk-card-secondary uk-text-center uk-card-default" style="background-color: #222;">
        <div class="">Акция при поддержке <a href="https://www.facebook.com/igor.belyaev.773/">ОФ «Прав Защиты Детей
            Сирот»</a>
            В реализации участвовал социальный проект <a href="https://www.facebook.com/kitsinkg/">“KITS – kids in
                IT”</a>
            Контакты +996 559 800 579 Игорь
            +996 557 671 331 Аяна
        </div>
    </div>
</footer>

<script src="{% static 'js/main.js' %}"></script>
<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="https://yastatic.net/share2/share.js"></script>
</body>
</html>