{% extends 'base.html' %}
{% load staticfiles thumbnail widget_tweaks %}
{% block head %}
    <meta name="title" content="Стань Дед Морозом для нуждающегося ребенка">
    <meta name="description"
          content="На этой сайте собраны письма ребят из различных детских домов, школ-интернатов и центров Кыргызстана, и Вы можете выбрать одно или несколько из них.">
    <meta name="keywords"
          content=" помощь сиротам, помощь малоимущим семьям, новогодняя акция, письмо Деду Морозу, подарки на новый год, стать героем">
    <meta property="og:title" content="Стань Дед Морозом для нуждающегося ребенка"/>
    <meta property="og:description"
          content="На этой сайте собраны письма ребят из различных детских домов, школ-интернатов и центров Кыргызстана, и Вы можете выбрать одно или несколько из них."/>
    <meta property="og:image"
          content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/socials.png' %}"/>
    <title>Стань Дед Морозом для детей-сирот</title>
{% endblock %}
{% block content %}
    <section class="inner-page uk-position-relative">
        <div class="uk-container ">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-expand@m ">
                    <div class="uk-card uk-card-default">
                        {% if letter.image %}
                            {% thumbnail letter.image "790x530" as im %}
                                <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{% static 'img/no_photo.png' %}" alt="no image">
                        {% endif %}
                    </div>
                </div>
                <div class="uk-width-1-3@m">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top uk-text-center uk-padding">
                            <div>
                                <h3>Стать дедом морозом !</h3>
                                {% if letter.status != 'DC' %}
                                    <p>Заполните форму для обратной связи, мы обязательно перезвоним Вам и расскажем
                                        детали</p>
                                {% endif %}
                                {% if letter.status != 'DC' %}
                                    <form action="{% url 'create_santa' letter.id %}" method="post">
                                        {% csrf_token %}
                                        <fieldset class="uk-fieldset">
                                            <div class="uk-margin">
                                                {{ form.name|add_class:"uk-input" }}
                                            </div>
                                            <div class="uk-margin">
                                                {{ form.phone|add_class:"uk-input" }}
                                            </div>
                                            <div class="uk-margin">
                                                <button class="uk-button-default uk-button">Стать Дедом Морозом</button>
                                            </div>

                                        </fieldset>
                                    </form>
                                {% else %}
                                    <div class="border uk-padding">
                                        <h3>Спасибо !</h3>
                                        <p>К счастью, это письмо уже нашло своего деда мороза! Выберите, пожалуйста,
                                            другое письмо. Благодарим.</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

