{% extends 'base.html' %}
{% load staticfiles thumbnail pagination_tags %}
{% block head %}
    <meta name="title" content="Стань Дед Морозом для детей-сирот">
    <meta name="description"
          content="Акция 'Письма Деду Морозу' помогает устроить праздник детям-сиротам и детям из малоимущих семей, которые также ждут новогоднего чуда и подарков в эту особенную ночь.">
    <meta name="keywords"
          content="благотворительность, помощь детям-сиротам, малоимущие семьи, помощь, подарки на новый год, акция «дед мороз», дед мороз, письмо деду морозу, благотворительный фонд">
    <meta property="og:description"
          content="Акция 'Письма Деду Морозу' помогает устроить праздник детям-сиротам и детям из малоимущих семей, которые также ждут новогоднего чуда и подарков в эту особенную ночь."/>
    <meta property="og:image"
          content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/socials.png' %}"/>
    <meta property="og:title" content="Стань Дед Морозом для детей-сирот"/>
    <title>Стань Дед Морозом для детей-сирот</title>
{% endblock %}
{% block content %}
    <section class="index-page uk-position-relative">
        <div class="uk-container ">
            {% include 'messages.html' %}
            <h1>Благотворительная акция "Письма Деду Морозу"</h1>
            <p>помогает устроить праздник детям-сиротам и детям из
                малоимущих семей, которые также ждут новогоднего чуда и подарков в эту особенную ночь. Поддержать эту
                традицию и помочь сохранить веру в чудо может каждый из нас, став Дедом Морозом хотя бы для одного
                ребенка. На этом сайте собраны письма ребят из различных детских домов, школ-интернатов и центров
                Кыргызстана, и Вы можете выбрать одно или несколько. Вот как это работает:</p>
            <ol>
                <li>После того, как Вы выберете письмо, оно получит статус "Ожидает подтверждения". С Вами свяжется наш
                    волонтер, расскажет детали, и после подтверждения статус письма изменится на "Дед Мороз найден".
                </li>
                <li>Вы приобретаете подарок и отвозите его в Общественный Фонд прав защиты детей-сирот, находящийся по
                    адресу ул. Токтогула 216/1, (не доезжая до ул. Уметалиева), до 19 декабря. Телефон <a
                            href="tel:+996559800579">+996559800579</a>
                    Игорь, <a href="tel:+996557671331">+996557671331</a> Аяна.
                </li>
                <li>
                    Ваш подарок с помощью наших волонтеров отправляется к ребенку, а в мире становится больше добрых
                    дел.
                </li>
            </ol>
            <div class="subscribe uk-margin-large-top">
                <p class="uk-text-center">
                    Рассказать друзьям
                </p>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,whatsapp,telegram,gplus"
                     data-counter=""
                     style="text-align: center"></div>
            </div>
            <div class="uk-grid uk-grid-small uk-flex-middle  uk-margin-large-top" uk-grid>
                <div class="uk-text-center uk-width-auto@m">
                    <div>
                        <img src="{% static 'img/png/icons.png' %}" alt="">
                    </div>
                </div>
                <div class="uk-text-center uk-width-expand@m">
                    <div class="uk-card uk-width-1-1 uk-card-default all-message  ">
                        <p>Всего писем: <span>{{ object_list.count }}</span></p>
                        Сортировка по:
                        <form action="" name="status_filter" method="get" style="padding-bottom: 30px;">
                            <button type="submit" value="AC" name="status" style="background-color: #fff; cursor: pointer">Свободным</button>
                            <button type="submit" value="MD" name="status" style="background-color: #fff; cursor: pointer">Ожидающим подтверждения</button>
                            <button type="submit" value="DC" name="status" style="background-color: #fff; cursor: pointer">Найденным</button>
                        </form>
                    </div>
                </div>
                <div class="uk-text-center uk-width-auto@m">
                    <div>
                        <img src="{% static 'img/png/icons.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .uk-lightbox-button {
            display: none;
        }
    </style>
    <section class="message uk-margin-large-top uk-position-relative">
        <div class="uk-container">
            <div class="uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
                {% autopaginate status_filter.qs 36 as object_list %}
                {% for obj in object_list %}
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top uk-cover-container uk-height-medium" uk-lightbox>
                                {% if obj.image %}
                                    <a class="uk-cover-container uk-height-medium uk-display-block"
                                       href="{{ obj.image.url }}">
                                        {% thumbnail obj.image "400x400" as im %}
                                            <img src="{{ im.url }}" alt="" uk-cover>{% endthumbnail %}</a>
                                {% else %}
                                    <img src="{% static 'img/no_photo.png' %}" alt="no image">
                                {% endif %}
                            </div>
                            <div class="uk-card-body uk-text-center">
                                <a href="{% url 'letter_detail' obj.pk %}" class="uk-button uk-button-default">
                                    {% if obj.status == 'DC' %}
                                        Дед мороз найден
                                    {% elif obj.status == 'MD' %}
                                        Ожидает подтверждения
                                    {% else %}
                                        Стать дедом морозом
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% paginate %}
        </div>
    </section>
{% endblock %}